@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Flavor

<h2>Edit</h2>

<h4>Edit this flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.Label("Select treat(s)")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to flavors", "Index")</p>