@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat;

<h2>@Model.Name Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </h3>
<br>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not flavors yet</p>
}
else
{
  <h4>Flavors the treat contains:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Name</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</p>