@{
  Layout = "_Layout";
}

@model PierresTreats.Models.Treat

<h2>Edit</h2>

<h4>Edit this treat: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br>
    @Html.Label("Select flavor(s)")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to treats", "Index")</p>